@charset "utf-8";

/* 共通 */
html{
  font-size: 16px;
}

li{
  list-style-type: none;
}

table a{
  color: red;
}

body>a{
  display: block;
  width: fit-content;
  padding: 32px 64px;
  margin: 32px auto 10px;
  background-color: rgb(240, 63, 63);
  color: #f4f4f4;
  font-weight: 900;
  box-shadow: 4px 4px 7px #333;
  transition: all .3s;
}

a:hover{
  translate: 0  5px;
  box-shadow: none;
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

img{
  max-width: 100%;
}

/* テーブル部 */
th,
td{
  display: block;
}

th{
  padding-top: 20px;
}

td P{
  /* color: red; */
  font-size: 18px;
  font-weight: bold;
}

span{
  display: block;
  text-align: center;
}

/* figmaセクション */
.figma{
  display: flex;
  justify-content: space-between;
}

.figma img:first-of-type{
  width: 60%;
  height: fit-content;
  object-fit: contain;
}

.figma img:nth-of-type(2){
  width: 35%;
  object-fit: cover;
}

.screen-shot ul{
  margin: 64px 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
}

.group-work {
  display: flex;
  justify-content: space-between;
}

.group-work img {
  width: 20%;
}

@media (max-width: 767px){
  html{
    font-size: 14px;
  }

  .figma{
    flex-direction: column;
    gap: 32px;
  }

  .figma img:first-of-type{
    width: 100%;
  }

  .figma img:nth-of-type(2){
    width: 100%;
  }
}