@charset "UTF-8";

/* 共通ーーーーーーーーーーーーーーー */
body{
    background-color: rgb(148, 236, 207);
}

li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.section-title{
    /* background-color: #fff; */
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
}

.section-title::after{
    content: "";
    width: 150px;
    height: 2px;
    background-color: black;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

/* ヘッダーーーーーーーーーーーーーー */

.cover{
    background-color: #FDBFB0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.nav-item{
    display: flex;
    gap: 3rem;
}

.nav-item a{
    display: flex;
    align-items: center;
}

.nav-item a::before{
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000;
    display: inline-block;
    margin-right: 10px;
}

.ciccle-logo{
    width: 100px;
}
/* メイン------------------------ */

/* メインビジュアルセクション */

.main-visual{
    background-color: antiquewhite;
    clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
}

.main-visual_contents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 5rem 0;
}

/* 足したやつ
.main-visual_contents{
    flex-direction: row-reverse;
    position: relative;
} */

.main-visual_img{
    width: 200px;
}

/* 足したやつ
.main-visual_img{
    width: 60%;
    margin: 0 auto;
} */

.main-visual_text{
    text-align: center;
}

/* 足したやつ */
/* .main-visual_text{
    width: 40%;
    font-size: 32px;
    position: absolute;
    left: 0;
} */

.main-visual_text p{
    margin: 2rem 0;
}

/* グリッドビジュアルセクション */

.grid-visual{
    background-color: #F7DFE4;
    height: 1000px;
    clip-path: polygon(0 5%,100% 0,100% 95%,0 100%);
}

/* .grid-visual h2{
    text-align: center;
    padding: 4rem 0;
} */

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .3rem;
}

.grid img{
    border: 2px solid black;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: 24px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.grid-item1{
    grid-column: 1/3;
    grid-row: 1/3;
}

.grid-item2{
    grid-column: 3/4;
    grid-row: 1/2;
    /* object-fit: cover; */
}

.grid-item3{
    grid-row: 2/5;
    /* background-color: red; */
}

.grid-item3 img{
    height: 100%;
    aspect-ratio: initial;
}

.grid-item4{

}

.grid-item5 img{
    width: 100%;
    object-fit: contain;
    background-color: #fff;
}

.grid-item6{
    border: none;
}

.grid-item6 img{
    object-fit: contain;
    border: none;
}

.grid-item7{
    grid-column: 2/4;
    grid-row: 3/5;
}

.grid-item7 img{
    background-color:#CCCEEA;
    padding: 6rem;
    object-fit: contain;
}


/* レコメンドセクション */
.recommendation{
    height: 1000px;
    clip-path: polygon(0 5%,100% 0,100% 95%,0 100%);
}

/* .recommendation h2{
    text-align: center;
    padding: 4rem 0;
} */

.recommendation{
    background-color: antiquewhite;
}

.recommendation-contents{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 6rem;
}

.recommendation-contents li{
    border: 1px solid black;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 16px;
    background-color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.recommendation-contents-text p{
    padding: 1rem 0;
}

.recommendation-contents-text .pink{
    color: #FF81C6;
}

/* フッターーーーーーーーーーーーーーー */

.footer{
    background-color: #FDBFB0;
    clip-path: polygon(0 5%,100% 0,100% 100%,0 100%);
}

.footer-contents{
    text-align: center;
    padding-top: 150px;
}

.footer-nav-item{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 100px;
}

iframe{
    width: 50%;
    margin: 0 auto;
    display: block;
    background-color: #fff;
}

small{
    display: block;
}


.practice{
    height: 100vh;
}

.grid-p{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 8px;
}

.item-p{
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 2px 2px  #333;
    background-size: cover;
    background-position: center;
}

.p-1{
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url(../img/grid01.jpg);
}

.p-2{
    background-image: url(../img/grid02.jpg);
}

.p-3{
    background-image: url(../img/grid03.jpg);
    grid-row: 2/5;
}

.p-4{
}

.p-5{
    background-color: #fff;
}

.p-5{
    padding: 15px;
}

.p-6{
    grid-column: 2/4;
    grid-row: 3/5;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-6 img{
    width: 60%;
    
}

.p-7{
    background-image: url(../img/grid04.jpg);
}