@charset "UTF-8";

/* 共通 */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  
}

a {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}