@charset "UTF-8";

/* 共通 */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-weight: 900;
  font-style: normal;
}

.font {
  font-family: "Yomogi", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.sec-ttl{
  text-align: center;
  margin-bottom: 40px;
}

.section-heading-l{
  color: #fff;
}

.sec-ttl p:first-of-type{
  font-size: 40px;
}

.sec-ttl p:nth-of-type(2){
  font-size: 12px;
}

/*** ヘッダー ***/

header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  width: 100%;
  padding: 12px;
}

h1 {
  width: fit-content;
  font-size: 24px;
  color: #fff;
  margin: 0 auto;
}

nav {
  margin-top: 10px;
}

nav ul{
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a{
  color: #ffffff;
}

/*** ファーストビュー ***/
.fv img {
  width: 100%;
}

/*** aboutセクション ***/
#about {
  padding: 40px 0;
  background-color: #f1eee4;
}

.about-text-contents {
  margin-top: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 2;
}

.about-text p + p {
  margin-top: 16px;
}